*{
    padding: 0px;
    margin: 0px;
    font-family: 'Rubic',sans-serif;
}
.footer-section{
    height: 550px;
    background-color: #0c1d48;
    color: white;
    
    padding-bottom: 40px;
    
}
.footer{
    margin:0 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 50px;
}
.footer-image{
height: 50px;
width: 100px;
}
.f-pad{
    padding-bottom: 25px;
    font-weight: 500;
}
.f-title{
    color: #65bfff;
    padding-bottom: 33px;
}
.f-link{
    color: white;
    font-size: 18px;
    text-decoration: none;
    
}
#resources{
    padding-right: 200px;
}
.f-link:hover{
    color: yellow;
    text-decoration: none;
    cursor: pointer;
}



.extra-footer{
    display: flex;
    font-size: 18px;
}
.rights{
    width: 60%;
}
.policy{
    width: 100%;
}
.footer-icon{
    display: flex;
    gap: 20px;
}
.fs-icon{
    height:25px;
    width:25px;
}