*{
  padding: 0px;
  margin: 0px;
  font-family: 'Rubic',sans-serif;
}
.join-cont-p{
  margin: 25px 50px;

}
.join-cont{
  background-image: url(../../images/Workfreeli_Beta-Banner-2.png);
  height: 300px;
  width: 90vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color:#fff;
  text-align: center;
}
.join-h1{
  font-size: 40px;
padding-top: 20px;
}
.join-p{
  font-size: 18px;
}
.join-input{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.join-div{
    height: 388px;
    padding: 50px 20px 50px 100px;
    background-image: url(../../images/join.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.join-text{
    font-family: "Rubik",sans-serif;
}
.join-text h1{
    padding-bottom: 50px;
    color: #0c1e47;
}


.subscribe{
    height: 518px;
    background-color: #f5f6f8;
    padding: 50px 100px;
    font-family: "Rubik",sans-serif;
}
.sub-text h1{
padding-top: 30px;
}
.sub-text p{
    padding-top: 30px;
    padding-bottom: 30px;
}
/* .float-label{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid gray;
    outline: none;
    box-shadow: none;
    background-color: #0c1d48;
} */


.last-msg-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #0c1d48;
  margin-bottom: 20px;
}
/* .last-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   color: white;
   height: 96px;
   width: 100%;
    background-color: #0c1d48;
    border: 1px solid #0c1d48;
} */


.wrapper{
    display: inline-flex;
  }
  .wrapper .static-txt{
    color: #fff;
    font-size: 40px;
    padding-top: 20px;
  }
  .wrapper .dynamic-txts{
    margin-left: 5px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #fcd200;
    font-size: 40px;
    position: relative;
    top: 0;
    animation: slide 4s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
    padding-bottom: 22px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #0c1d48;
    border-left: 2px solid #fcd200;;
    animation: typing 1.5s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
      margin:0 -35px 0 35px
    }
  }









  #h-input {
    color: #fff;
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid #fff;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    background-color: #0c1d48;
  }


  #h-input:focus {
    outline: 0;
    border-bottom: 2px solid green;
    cursor: text;
    caret-color: #fff;
    
  }
  .field:hover .label{
    transform:translateY(-30px);
    font-size: 12px;
  }
  .field{
    position: relative;
  }
  .label{
    position:absolute;
    left:5px;
    top: 15px;
    transition: all 1s ease;
    /* font-size:0.825em;
    transition-duration:300ms; */
    
}
.label:focus{
  
  font-size: 15px;
 
 
}



